body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0f14;
  color: white;
}

header {
  background: #111a26;
  padding: 20px;
  text-align: center;
  border-bottom: 3px solid #008C45;
}

h1 {
  margin: 0;
  font-size: 28px;
}

nav a {
  margin: 0 12px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #CD212A;
}

section {
  padding: 30px;
  max-width: 900px;
  margin: auto;
}

footer {
  text-align: center;
  padding: 10px;
  background: #111a26;
  font-size: 12px;
  color: gray;
}
